<a href="https://colab.research.google.com/github/kirillkobychev/MLHSE/blob/homework/%5B2%5D_%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_1_%D0%97%D0%BD%D0%B0%D0%BA%D0%BE%D0%BC%D1%81%D1%82%D0%B2%D0%BE_%D1%81_%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%BE%D0%B9_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание 1. Знакомство с библиотекой Pandas

Все задания ниже имеют равный вес.

## Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов.  
Файлы делятся на две категории:
*   `Students_info_i` - информация о студентах из группы `i`
*   `Students_marks_i` - оценки студентов из группы `i` за экзамены

Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут:

 https://www.kaggle.com/residentmario/renaming-and-combining#Combining

## Практика

In [43]:
# импортируем библиотеку Pandas
import pandas as pd

In [44]:
%%capture
# загружаем данные
!wget https://github.com/evgpat/datasets/raw/main/students.zip

In [45]:
# проверяем загрузку (наличие файла students.zip)
!ls -lah

total 52K
drwxr-xr-x 1 root root 4.0K Mar 20 16:33 .
drwxr-xr-x 1 root root 4.0K Mar 20 16:06 ..
drwxr-xr-x 4 root root 4.0K Mar 17 13:31 .config
drwxr-xr-x 1 root root 4.0K Mar 17 13:32 sample_data
drwxrwxr-x 2 root root 4.0K Jul 25  2023 students
-rw-r--r-- 1 root root  16K Mar 20 16:08 students.zip
-rw-r--r-- 1 root root  16K Mar 20 16:33 students.zip.1

In [46]:
# разархивируем данные
!unzip students.zip

Archive:  students.zip
replace students/Students_info_0.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: Y
  inflating: students/Students_info_0.csv
replace students/Students_info_1.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: students/Students_info_1.csv
  inflating: students/Students_info_2.csv
  inflating: students/Students_info_3.csv
  inflating: students/Students_info_4.csv
  inflating: students/Students_info_5.csv
  inflating: students/Students_info_6.csv
  inflating: students/Students_info_7.csv
  inflating: students/Students_info_8.csv
  inflating: students/Students_info_9.csv
  inflating: students/Students_marks_0.csv
  inflating: students/Students_marks_1.csv
  inflating: students/Students_marks_2.csv
  inflating: students/Students_marks_3.csv
  inflating: students/Students_marks_4.csv
  inflating: students/Students_marks_5.csv
  inflating: students/Students_marks_6.csv
  inflating: students/Students_marks_7.csv
  inflating: students/Students_marks_8.csv
  inflating: students/Students_marks_9.csv

In [47]:
# смотрим что получилось
!ls -lah students

total 128K
drwxrwxr-x 2 root root 4.0K Mar 20 16:36 .
drwxr-xr-x 1 root root 4.0K Mar 20 16:33 ..
-rw-rw-r-- 1 root root 5.8K Jan 17  2021 Students_info_0.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_1.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_2.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_3.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_4.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_5.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_6.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_7.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_8.csv
-rw-rw-r-- 1 root root 6.0K Jan 17  2021 Students_info_9.csv
-rw-rw-r-- 1 root root 1.4K Jan 17  2021 Students_marks_0.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_1.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_2.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_3.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_4.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_5.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_6.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_7.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_8.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_9.csv

### Задание 1

Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата

In [48]:
# ваш код здесь
st_info = [f'/content/students/Students_info_{i}.csv' for i in range(10)]
ma_info = [f'/content/students/Students_marks_{i}.csv' for i in range(10)]

st_df = [pd.read_csv(i) for i in st_info]
stack_st_df = pd.concat(st_df, ignore_index = True)

ma_df = [pd.read_csv(i) for i in ma_info]
stack_ma_df = pd.concat(ma_df, ignore_index = True)

st_ma_merge = pd.merge(stack_st_df, stack_ma_df, on = 'index', how = 'outer')

### Задание 2

Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы

In [49]:
# ваш код здесь
st_ma_merge.drop('index', axis = 1, inplace = True)
st_ma_merge.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

### Задание 3

Выведите на экран размеры полученной таблицы

In [50]:
# ваш код здесь
st_ma_merge.shape

(1000, 9)

### Задание 4

Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [51]:
# ваш код здесь
st_ma_merge.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

### Задание 5

Проверьте, есть ли в таблице пропущенные значения

In [52]:
# ваш код здесь
st_ma_merge.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

### Задание 6

Выведите на экран средние баллы студентов по каждому предмету (`math`, `reading`, `writing`)

In [53]:
# ваш код здесь
mean_scores = st_ma_merge[['math score', 'reading score', 'writing score']].mean()
print(mean_scores)

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

### Задание 7

Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)?

Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [54]:
# ваш код здесь
st_scores_exam = st_ma_merge.groupby('test preparation course')[['math score', 'reading score', 'writing score']].mean()
print(st_scores_exam)

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

### Задание 8

Выведите на экран все различные значения из столбца `lunch`

In [55]:
# ваш код здесь
st_ma_merge_lunch = st_ma_merge['lunch'].unique()
print(st_ma_merge_lunch)

['standard' 'free/reduced']

### Задание 9

Переименуйте колонку `parental level of education` в `education`, а `test preparation course` в `test preparation` с помощью метода pandas [`rename`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [56]:
# ваш код здесь
st_ma_merge_rename = st_ma_merge.rename(columns = {'parental level of education': 'education',
                                                   'test preparation course': 'test preparation'})
print(st_ma_merge_rename)

     gender race/ethnicity           education         lunch test preparation  \
0    female        group B   bachelor's degree      standard             none
1    female        group C        some college      standard        completed
2    female        group B     master's degree      standard             none
3      male        group A  associate's degree  free/reduced             none
4      male        group C        some college      standard             none
..      ...            ...                 ...           ...              ...
995  female        group E     master's degree      standard        completed
996    male        group C         high school  free/reduced             none
997  female        group C         high school  free/reduced        completed
998  female        group D        some college      standard        completed
999  female        group D        some college  free/reduced             none

       group  math score  reading score  writing score
0     group1          72             72             74
1     group1          69             90             88
2     group1          90             95             93
3     group1          47             57             44
4     group1          76             78             75
..       ...         ...            ...            ...
995  group10          88             99             95
996  group10          62             55             55
997  group10          59             71             65
998  group10          68             78             77
999  group10          77             86             86

[1000 rows x 9 columns]

### Задание 10

**Зафиксируем минимальный балл для сдачи экзамена**

In [57]:
passmark = 50

**Ответьте на вопросы**
* Какая доля студентов сдала экзамен по математике (passmark > 50)?
* Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
* Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [58]:
# ваш код здесь
st_ma_merge_rename_passmark = (st_ma_merge_rename['math score'] > passmark).sum()
w = (st_ma_merge_rename_passmark/len(st_ma_merge_rename))
print(w)

0.85

In [59]:
# ваш код здесь
st_ma_merge_rename_test_preparation = st_ma_merge_rename[(st_ma_merge_rename['test preparation'] == 'completed')
                                                        & (st_ma_merge_rename['math score'] > passmark)].shape[0]
w_test_preparation = st_ma_merge_rename_test_preparation/st_ma_merge_rename[(st_ma_merge_rename['test preparation'] == 'completed')].shape[0]
print(f'{w_test_preparation:2f}')

0.907821

In [60]:
# ваш код здесь
st_ma_merge_rename_no_test_preparation_women = st_ma_merge_rename[(st_ma_merge_rename['test preparation'] != 'completed')
                                                                & (st_ma_merge_rename['gender'] == 'female')
                                                                & (st_ma_merge_rename['math score'] < passmark)].shape[0]
w_test_preparation_women = st_ma_merge_rename_no_test_preparation_women/st_ma_merge_rename[(st_ma_merge_rename['test preparation'] != 'completed')
                                                                & (st_ma_merge_rename['gender'] == 'female')].shape[0]
print(f'{w_test_preparation_women:2f}')

0.209581

### Задание 11

С помощью `groupby` выполните задания ниже. Также выведите время выполнения каждого из заданий.
* Для каждой этнической группы выведите средний балл за экзамен по чтению
* Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [61]:
import time
from functools import wraps

def check_time(func):
    @wraps(func)
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        time_taken = end_time - start_time
        print(f"Функция '{func.__name__}' выполнена за {time_taken:.4f} секунд")
        return result
    return wrapper

In [62]:
@check_time
def st_ma_merge_rename_eth_func(df):

  st_ma_merge_rename_eth = st_ma_merge_rename.groupby('race/ethnicity')['reading score'].mean()
  return st_ma_merge_rename_eth

In [63]:
@check_time
def st_ma_merge_rename_wrt_func(df):

  st_ma_merge_rename_wrt = st_ma_merge_rename.groupby('education')['writing score'].min()
  return st_ma_merge_rename_wrt

### Задание 12

Выполните задание 11 с помощью циклов. Сравните время выполнения

In [64]:
@check_time
def st_ma_merge_rename_eth_for(df):

  ethnics_group = st_ma_merge_rename['race/ethnicity'].unique()
  averages = {}

  for i in ethnics_group:
    score = st_ma_merge_rename[st_ma_merge_rename['race/ethnicity'] == i]['reading score']
    avg_score = sum(score) / len(score)
    averages[i] = avg_score

  print("Средний балл по чтению для этнических групп:")
  for i, j in averages.items():
    print(f"{i}: {j}")

  return averages

In [65]:
@check_time
def edu_class_mins(df):

  education_class = st_ma_merge_rename['education'].unique()
  edu_mins = {i: min(st_ma_merge_rename[st_ma_merge_rename['education'] == i]['writing score']) for i in education_class}

  print("Минимальный балл по письму для каждого уровня образования:")
  for i, j in edu_mins.items():
    print(f"{i}: {j}")

  return edu_mins

In [66]:
import time

df = st_ma_merge_rename

def compare_performance(st_ma_merge_rename):
    try:
        # Измерение времени для Pandas (чтение, этнические группы)
        start_time1 = time.time()
        st_ma_merge_rename_eth_func(st_ma_merge_rename)
        pandas_time = time.time() - start_time1

        # Измерение времени для Pandas (письмо, уровень образования)
        start_time3 = time.time()
        st_ma_merge_rename_wrt_func(st_ma_merge_rename)
        pandas_time2 = time.time() - start_time3

        # Измерение времени для циклов (чтение, этнические группы)
        start_time2 = time.time()
        st_ma_merge_rename_eth_for(st_ma_merge_rename)
        loops_time = time.time() - start_time2

        # Измерение времени для циклов (письмо, уровень образования)
        start_time4 = time.time()
        edu_class_mins(st_ma_merge_rename)
        loops_time2 = time.time() - start_time4

        # Сравнение и вывод для чтения
        print(f"\nСредний балл по чтению для этнических групп:")
        print(f"Pandas: {pandas_time:.4f} секунд")
        print(f"Циклы: {loops_time:.4f} секунд")
        if pandas_time < loops_time:
            print('Pandas эффективнее')
        else:
            print('Циклы эффективнее (но это не точно)')

        # Сравнение и вывод для письма
        print(f"\nМинимальный балл по письму для каждого уровня образования:")
        print(f"Pandas: {pandas_time2:.4f} секунд")
        print(f"Циклы: {loops_time2:.4f} секунд")
        if pandas_time2 < loops_time2:
            print('Pandas эффективнее')
        else:
            print('Циклы эффективнее (но это не точно)')

    except Exception as e:
        print(f"Произошла ошибка: {e}")

# Запускаем сравнение
compare_performance(df)

Функция 'st_ma_merge_rename_eth_func' выполнена за 0.0012 секунд
Функция 'st_ma_merge_rename_wrt_func' выполнена за 0.0008 секунд
Средний балл по чтению для этнических групп:
group B: 67.35263157894737
group C: 69.10344827586206
group A: 64.67415730337079
group D: 70.03053435114504
group E: 73.02857142857142
Функция 'st_ma_merge_rename_eth_for' выполнена за 0.0026 секунд
Минимальный балл по письму для каждого уровня образования:
bachelor's degree: 38
some college: 19
master's degree: 46
associate's degree: 35
high school: 15
some high school: 10
Функция 'edu_class_mins' выполнена за 0.0026 секунд

Средний балл по чтению для этнических групп:
Pandas: 0.0014 секунд
Циклы: 0.0026 секунд
Pandas эффективнее

Минимальный балл по письму для каждого уровня образования:
Pandas: 0.0008 секунд
Циклы: 0.0027 секунд
Pandas эффективнее

### Задание 13

Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования.  
То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выведите средний балл по каждому из предметов.

Это можно сделать с помощью сводных таблиц ([pivot_table](https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas))

In [67]:
# ваш код здесь
pivot_result = pd.pivot_table(st_ma_merge_rename,
                             values=['math score', 'reading score', 'writing score'],
                             index=['gender', 'education'],
                             aggfunc='mean')
pivot_result

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

### Задание 14

Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице `df` под названием `Math_PassStatus` и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [68]:
# Математика
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'P' if x >= passmark else 'F')
math_pass = (df['Math_PassStatus'] == 'P').sum()
math_fail = (df['Math_PassStatus'] == 'F').sum()

# Чтение
df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'P' if x >= passmark else 'F')
reading_pass = (df['Reading_PassStatus'] == 'P').sum()
reading_fail = (df['Reading_PassStatus'] == 'F').sum()

# Письмо
df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'P' if x >= passmark else 'F')
writing_pass = (df['Writing_PassStatus'] == 'P').sum()
writing_fail = (df['Writing_PassStatus'] == 'F').sum()

# Вывод результатов
print(f"Математика: Сдали {math_pass}, Не сдали {math_fail}")
print(f"Чтение: Сдали {reading_pass}, Не сдали {reading_fail}")
print(f"Письмо: Сдали {writing_pass}, Не сдали {writing_fail}")

Математика: Сдали 865, Не сдали 135
Чтение: Сдали 910, Не сдали 90
Письмо: Сдали 886, Не сдали 114

### Задание 15

Сколько студентов успешно сдали все экзамены?

Создайте столбец `OverAll_PassStatus` и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
# ваш код здесь
...

### Задание 16

Переведем баллы в оценки

**Система перевода баллов в оценки**
*   [90;100] = A
*   [80;90) = B
*   [70;80) = C
*   [60;70) = D
*   [50;60) = E
*   [0;50) = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец `Grade` и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [ ]:
def GetGrade(average_mark):
    # ваш код здесь
    ...

# ваш код здесь
...